/* ==========================================
   style.CSS
   These are the final styles for the project.

   Author:  Saddam Arbaa
   Website: (TODO)
   ========================================== */


/* ====== Import google fonts =========== */

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;400;700&display=swap");

/* =====================
   Start the Main Rules
   ===================== */

* {
    box-sizing: border-box;
}

body {
    background-image: url("/assets/images/christmas_bg.jpg");
    background-size: cover;
    background-repeat: none;
    padding: 3vh;
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    margin: auto;
    font-family: "Josefin Sans", sans-serif;
}


/* =====================
   container-wrapper 
   ===================== */

.container-wrapper {
    max-width: 768px;
}


/* =====================
   container 
   ===================== */

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 15px;
    grid-auto-flow: dense;
    grid-auto-rows: 100px;
    grid-auto-columns: 100px;
    height: 90vh;
}


/* =====================
   container-item 
   ===================== */

.container-item {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
}